/* Example of @import use
This imports the `reset.css` file */
@import url("./reset.css");


:root {
  /* color */

  --cc: #EDECFF;
  --wc: #fff;
  --wideimg-bg: linear-gradient(0deg, #F9F9F9 0.1%, #F9F9F9 100%);
  --inbutton-c: #EDECFF;
  --button-bgc: #4a3ef6;
  --wbgc: #EDECFF;
  --wbs: 0.1px 0.1px 50px;
  --wrb: 9999px;
  --fiiter: blur(20px);
  --head: #9490FF;

  /* SHADOW */

  --bs: 0.1px 0.1px 50px;
  --fi: blur(20px);

  /* RADIUS */

  --br: 9999px;
}

/**
*? Styles for the Body.
**/

body {
  background-color: #191765;
  min-width: 375px;
  padding: 0.1px 24px;
}

/**
*? The circle background color style.
**/

.circle-bg-box {
  min-width: 1300px;
  height: 535px;
  left: 9px;
  top: 47px;
}

.circle-bg-1,
.circle-bg-2 {
  background-color: var(--cc);
  box-shadow: var(--bs);
  border-radius: var(--br);
  filter: var(--fi);
}

.circle-bg-1 {
  width: 80px;
  height: 80px;
  left: 370px;
  top: 499px;
}

.circle-bg-2 {
  width: 184px;
  height: 124px;
  left: -150.1px;
  top: 20.1px;
}

.absolute {
  position: absolute;
}

.whitebackground-box {
  width: 2107.46px;
  height: 1963.98px;
  left: -132px;
  top: 1455px;
}

.whitebackground-1, 
.whitebackground-2, 
.whitebackground-3 
/* .whitebackground-4 */ {
  background-color: var(--wbgc);
  box-shadow: var(--wbs);
  border-radius: var(--wrb);
  filter: var(--fiiter);
}

.whitebackground-1 {
  width: 37.53px;
  height: 400.92px;
  left: 135px;
  top: -15.12px;
  transform: rotate(-26.38deg);
}

.whitebackground-2 {
  width: 78px;
  height: 402px;
  left: 525.28px;
  top: 600.74px;
  transform: rotate(-147.05deg); 
}

.whitebackground-3 {
  width: 70.19px;
  height: 416.38px;
  left: 555.30px;
  top: 2280px;
  transform: rotate(105deg); 
}

.whitebackground-4 {
  width: 408px;
  height: 60px;
  left: -70px;
  top: 1640px;
  background-color: var(--wbgc);
  box-shadow: var(--wbs);
  border-radius: var(--wrb);
  filter:blur(65px);
}

.head {
  color: var(--head);
  font-size: 40px;
}

.line {
  color: #646369;
  margin-top: 24px;
  margin-bottom: 24px;
}

.worksection {
  display: grid;
  gap: 40px;
  padding-top: 20px;
}

.wideimg {
  width: 327px;
  height: 236px;
  background: var(--wideimg-bg);
}

.multi-post {
  color: #fff;
  font-size: 32px;
}

.story {
  color: #DCDCE8;
  font-size: 20px;
}

.list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.lang {
  font-size: 15px;
  color: #fff;
}

.divider {
  border: solid 1px #555;
}

.button {
  background-color: var(--button-bgc);
  width: 89px;
  height: 48px;
}

.inbutton {
  color: var(--inbutton-c);
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
}

/**
*? The style for the toolbar section.
**/

.tool-bar {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  color: var(--wc);
  font-size: 18px;
}

.bi-list {
  color: var(--wc);
}


/**
*?  Styles for the Headline section.
**/

.main, .full-list {
  display: flex;
  flex-flow: row wrap;
}

.headline {
  display: block;
}

.my-name, .my-field, .button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-name {
  color: #7D73FC;
  font-size: 48px;
}

.my-field {
  font-size: 32px;
  color: #EDECFF;
}

.intro-text {
  color: #C8C8D4;
  text-align: center;
  font-size: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.full-list{
  gap: 28px;
}

li {
  color: #F5F5FF;
  list-style: none;
  font-size: 15px;
  margin-top: 16px;
}

.list-head {
  color: #9490FF;
  font-size: 12px;
  padding-bottom: 12px;
}

.list-i {
  padding-bottom: 4.78px;
}

.list-ii {
  padding-bottom: 5.16px;
}

.list-iii {
  padding-bottom: 5.33px;
}

a:hover {
  background-color: goldenrod;
}

img {
  width: 20px;
  height: 20px;
  padding: 8px;
}
