/* Example of @import use
This imports the `reset.css` file */
@import url("./reset.css");

* {
  margin: 0.0001px;
  padding: 0.0001px;
  box-sizing: border-box;
  }

:root {
  /* color */

  --cc: #EDECFF;
  --wc: #fff;
  --wideimg-bg: linear-gradient(0deg, #F9F9F9 0.1%, #F9F9F9 100%);
  --inbutton-c: #131212;
  --button-bgc: #7d73fc;
  --wbgc: #EDECFF;
  --wrb: 9999px;
  --fiiter: blur(17px);
  --head: #9490FF;

  /* SHADOW */

  --fi: blur(20px);

  /* RADIUS */

  --br: 9999px;
}

/**
*? Styles for the Body.
**/

body {
  background-color: #191765;
  padding: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  flex-flow: row wrap;
}

/**
*? The background colors style.
**/

/* .circle-bg-box {
  min-width: 1300px;
  height: 535px;
  left: 9px;
  top: 47px;
} */

.circle-bg-1,
.circle-bg-2 {
  background-color: var(--cc);
  border-radius: var(--br);
  filter: var(--fi);
}

.circle-bg-1 {
  width: 60px;
  height: 60px;
  left: 330px;
  top: 699px;
}

.circle-bg-2 {
  width: 184px;
  height: 124px;
  left: -150.1px;
  top: 58.7px;
}

.absolute {
  position: absolute;
}

/* .whitebackground-box {
  width: 2107.46px;
  height: 1963.98px;
  left: -132px;
  top: 1455px;
} */

.whitebackground-1, 
.whitebackground-2, 
.whitebackground-3 {
  background-color: var(--wbgc);
  border-radius: var(--wrb);
  filter: var(--fiiter);
}

.whitebackground-1 {
  width: 33.53px;
  height: 400.92px;
  left: 58px;
  top: 1690.12px;
  transform: rotate(-41.38deg);
}

.whitebackground-2 {
  width: 48px;
  height: 402px;
  left: 358.28px;
  top: 2275.74px;
  transform: rotate(-139.05deg); 
}

.whitebackground-3 {
  width: 59.19px;
  height: 416.38px;
  left: 432.30px;
  top: 3771px;
  transform: rotate(104deg); 
}

.whitebackground-4 {
  width: 260px;
  height: 50px;
  left: -30px;
  top: 3305px;
  background-color: var(--wbgc);
  border-radius: var(--wrb);
  filter:blur(50px);
}

.menubg1, .menubg2 {
  border-radius: var(--wrb);
  transform-origin: 0 0;
}

.menubg1 {
  background-color: #edecff74;
  filter: blur(50px);
  width: 226px;
  height: 542px;
  left: 42.04px;
  top: 140px;
  transform: rotate(25.09deg);
}

.menubg2 {
  background-color: var(--wbgc);
  filter: blur(50px);
  width: 420.13px;
  height: 244.06px;
  left: 318.94px;
  top: 632.54px;
  transform: rotate(42.52deg);
}

/**
*? The style for the toolbar section.
**/

.tool-bar {
  /* padding: 0.0001px 24px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.my-logo {
  color: var(--wc);
  font-size: 18px;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  width: 35.33px;
  height: 22.83px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
  background-color: var(--wc);
  width: 33.33px;
  height: 2px;
  position: absolute;
  transition: all 0.2s;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
}

.hamburger-icon::before {
  transform: translate(-17px, -12px);
}

.hamburger-icon::after {
  transform: translate(-17px, 12px);
}

.mobile-menu {
  padding: 36px 24px;
  position: absolute;
  top: 0.0001px;
  left: 0.0001px;
  background-color: #191765;
  width: 100%;
  font-size: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform-origin: top;
  animation: showmenu 0.5s ease-in-out forwards;
}

@keyframes showmenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  width: 35.33px;
  height: 22.83px;
  display: flex;
  justify-content: center;
  align-self: end;
  position: relative;
  flex-flow: row wrap;
}

.mobile-icon, .mobile-icon::before, .mobile-icon::after {
  background-color: var(--wc);
  width: 33.33px;
  height: 2px;
  position: absolute;
  transition: all 0.2s;
}

.mobile-icon::before,
.mobile-icon::after {
  content: "";
}

.mobile-icon::before {
  transform: translate(-17px) rotate(135deg);
}

.mobile-icon::after {
  transform: translate(-17px) rotate(-135deg);
}

.mobile-icon {
  background-color: transparent;
}

.nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
  z-index: 1;
  margin: 0.0001rem 0.5rem;
}

.hidden {
  display: none;
}

.navlist {
  font-size: 2.5rem;
  margin: 4rem 0.0001rem;
}

.a-nav {
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
  justify-content: space-between;
  color: rgb(255 255 255);
  text-decoration: none;
}

nav :is(.navlist:hover, .navlist:focus) {
  transform: scale(0.95);
  transition: all 0.2s;
}

.nav-span {
  color: #7D73FC;
}

/**
*?  Styles for the Headline section.
**/

.headline {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-name {
  color: #7D73FC;
  font-size: 3rem;
  margin-bottom: 2rem;
  word-break: break-all;
}

.my-field {
  font-size: 32px;
  color: #EDECFF;
  word-break: break-all;
}

.my-name, .my-field, .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  color: #C8C8D4;
  text-align: center;
  font-size: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.main, .full-list {
  display: flex;
  flex-flow: row wrap;
}

.full-list{
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  color: #F5F5FF;
  list-style: none;
  font-size: 15px;
}

.list-head {
  color: #9490FF;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.list-i, .list-ii, .list-iii  {
  margin-bottom: 1rem;
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.a :is(img:visited) {
  color: #000;
  
}

.a :is(img:hover, img:focus) {
  width: 1.6rem;
  height: 1.5rem;
}

.a :is(img:active, img:enabled) {
  width: 1rem;
  height: 1rem;
}

.a :is(img:disabled) {
  display: none;
}

.git-img {
  width: 18px;
  height: 20px;
}

.link-img {
  width: 20px;
  height: 20px;
}

.ang-img {
  width: 14.17px;
  height: 20px;
}

.twit-img {
  width: 19.99px;
  height: 19.96px;
}

.mail-img {
  width: 20px;
  height: 16px;
}

.bottom {
  gap: 12px;
  margin-top: 2rem;
}

.arrow {
  width: 18px;
  height: 21.3px;
  color: #c4c4c4;
  align-items: center;
}

.work {
  word-break: break-all;
  font-size: 20px;
  color: #a2a3ae;
}

/**
*?   Styles for the work section.
**/

.worksection-box {
  display: grid;
  gap: 2rem;
  flex-flow: row wrap;
}

.head {
  color: var(--head);
  font-size: 40px;
  word-break: break-all;
}

hr {
  border: 1px solid #646369;
}

.wideimg {
  width: 100%;
  max-width: 327px;
  height: 236px;
  background: var(--wideimg-bg);
}

.multi-post {
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.story {
  color: #DCDCE8;
  font-size: 20px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.worksection-box, .list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lang {
  font-size: 15px;
  color: #fff;
}

.divider {
  border: solid 1px #555;
}

.button {
  background-color: var(--button-bgc);
  width: 89px;
  height: 48px;
  border: none;
}

.inbutton {
  color: var(--inbutton-c);
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

:is(.button:enabled) {
  background: #9390FF;
}

.button:hover {
  background: goldenrod;
}

:is(.button:active, .button:visited) {
  background: #cecdcd;
}

:is(.button:disabled) {
  background: #fe2f2f;
}

/**
*?     The footer section styles.
**/

.contact-form {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.contact-us {
  color: #9390FF;
  font-size: 2rem;
}

.footer-p {
  font-size: 1rem;
  color: #f5f5ff;
}

form {
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 2rem;
}

.input-i {
  line-height: 3rem;
}

.textarea, .input-i {
  width: 100%;
  padding-left: 1rem;
}

.textarea {
  padding-top: 1rem;
}

label {
  color: #191765;
}

.button-margin {
  margin-top: 2.5rem;
}

.media {
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-left: 3rem;
  padding-right: 3rem;
}

.media, form {
  display: flex;
}

.email, .footer-p, .contact-us {
  text-align: center;
}

.email {
  margin-top: 0.5rem;
}

.hover {
  word-break: break-all;
  text-align: center;
  text-decoration: none;
  color: #EBEBFF;
  font-size: 20px;
}

.email :is(.hover:link, .hover:visited) {
  color: white;
}

.email :is(.hover:hover, .hover:focus) {
  color: blue;
  text-decoration-line: underline;
}

.email :is(.hover:active, .hover:enabled) {
  color: goldenrod;
  text-decoration-line: underline;
}

.email :is(.hover:disabled) {
  color: red;
}