/* Example of @import use
This imports the `reset.css` file */
@import url("./reset.css");

* {
  margin: 0.0001px;
  padding: 0.0001px;
  box-sizing: border-box;
  }

:root {
  /* color */

  --cc: #EDECFF;
  --wc: #fff;
  --wideimg-bg: linear-gradient(0deg, #F9F9F9 0.1%, #F9F9F9 100%);
  --inbutton-c: #131212;
  --button-bgc: #7d73fc;
  --wbgc: #EDECFF;
  --wrb: 9999px;
  --fiiter: blur(17px);
  --head: #9490FF;

  /* SHADOW */

  --fi: blur(20px);

  /* RADIUS */

  --br: 9999px;
}

/**
*? Styles for the Body.
**/

body {
  background-color: #191765;
  padding: 24px 0.0001px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-flow: row wrap;
}

/**
* ?  The media queries.
**/

/* Mobile version styles */
@media screen and (width <= 768px) {
  .small-width, .whitebackground-1, .whitebackground-2, .whitebackground-3, .whitebackground-4, .circle-bg-2, .circle-bg-1, .sm-hr, .main, .contact-form, .headline {
    display: block;
  }

  .big-width, .whitebackground-11, .whitebackground-22, .whitebackground-33, .whitebackground-44, .circle-bg-22, .circle-bg-11, .main1, .headline1, .tool-bar1, .container {
    display: none;
  }
}

/* Desktop version styles */
@media screen and (width >= 768px) {
  .big-width, .whitebackground-11, .whitebackground-22, .whitebackground-33, .whitebackground-44, .circle-bg-22, .circle-bg-11, .main1, .headline1, .tool-bar1, .container {
    display: block;
  }

  .small-width, .whitebackground-1, .whitebackground-2, .whitebackground-3, .whitebackground-4, .circle-bg-2, .circle-bg-1, .sm-hr, .main, .contact-form {
    display: none;
  }
}







/**
*? The background colors style.
**/

.circle-bg-1,
.circle-bg-2, .circle-bg-11, .circle-bg-22 {
  background-color: var(--cc);
  border-radius: var(--br);
  filter: var(--fi);
}

.circle-bg-1 {
  width: 60px;
  height: 60px;
  left: 339px;
  top: 495px;
}

.circle-bg-2 {
  width: 184px;
  height: 124px;
  left: -150.1px;
  top: 58.7px;
}

.circle-bg-11 {
  width: 184px;
  height: 184px;
  left: 1023px;
  top: 566px;
}

.circle-bg-22 {
  width: 184px;
  height: 184px;
  left: 59.1px;
  top: 166.7px;
}

.absolute {
  position: absolute;
}

.whitebackground-1, .whitebackground-11, 
.whitebackground-2, .whitebackground-22, 
.whitebackground-3, .whitebackground-33, .whitebackground-44 {
  background-color: var(--wbgc);
  border-radius: var(--wrb);
  filter: var(--fiiter);
}

.whitebackground-1 {
  max-width: 33.53px;
  height: 400.92px;
  left: 58px;
  top: 1090.12px;
  transform: rotate(-41.38deg);
}

.whitebackground-2 {
  max-width: 48px;
  height: 402px;
  left: 358.28px;
  top: 1575.74px;
  transform: rotate(-139.05deg); 
}

.whitebackground-3 {
  width: 59.19px;
  height: 416.38px;
  left: 422.30px;
  top: 2941px;
  transform: rotate(104deg); 
}

.whitebackground-4 {
  width: 260px;
  height: 50px;
  left: -30px;
  top: 2480px;
  background-color: var(--wbgc);
  border-radius: var(--wrb);
  filter:blur(50px);
}

.whitebackground-11 {
  width: 57.53px;
  height: 850.92px;
  left: -12px;
  top: 1072.88px;
  transform: rotate(-30.38deg);
}

.whitebackground-22 {
  width: 108px;
  height: 402px;
  left: 1753.28px;
  top: 2050.74px;
  transform: rotate(-142.05deg); 
}

.whitebackground-33 {
  width: 180.19px;
  height: 916.38px;
  left: 1742.30px;
  top: 2559px;
  transform: rotate(105deg);
}

.whitebackground-44 {
  width: 308px;
  height: 125px;
  left: -7px;
  top: 2693px;
}

.menubg1, .menubg2 {
  border-radius: var(--wrb);
  transform-origin: 0 0;
}

.menubg1 {
  background-color: #edecff74;
  filter: blur(50px);
  width: 226px;
  height: 542px;
  left: 42.04px;
  top: 140px;
  transform: rotate(25.09deg);
}

.menubg2 {
  background-color: var(--wbgc);
  filter: blur(50px);
  width: 420.13px;
  height: 244.06px;
  left: 318.94px;
  top: 632.54px;
  transform: rotate(42.52deg);
}

/**
*? The style for the toolbar section.
**/

.tool-bar {
  position: relative;
}

.tool-bar, .tool-bar1 {
  padding: 0.0001px 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tool-bar1 {
  padding: 0.0001px 88px;
}

.my-logo {
  color: var(--wc);
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.mail {
  margin-top: 2px;
}

.header-nav {
  font-size: 1rem;
  color: rgb(255 255 255);
  text-decoration: none;
}

.nav :is(.header-nav:visited, .header-nav:enabled) {
  color: white;
}

.nav :is(.header-nav:hover, .header-nav:focus) {
  color: #7D73FC;
  font-size: 1.05rem;
  text-decoration-line: underline;
}

.nav :is(.header-nav:active) {
  color: goldenrod;
  font-size: 1.05rem;
}

.nav :is(.mail:visited, .mail:enabled) {
  color: white;
}

.nav :is(.mail:hover, .mail:focus) {
  font-size: 1.15rem;
}

.nav :is(.mail:active) {
  font-size: 1.15rem;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  width: 35.33px;
  height: 22.83px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
  background-color: var(--wc);
  width: 33.33px;
  height: 2px;
  position: absolute;
  transition: all 0.2s;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
}

.hamburger-icon::before {
  transform: translate(-17px, -12px);
}

.hamburger-icon::after {
  transform: translate(-17px, 12px);
}

.mobile-menu {
  padding: 36px 24px;
  position: absolute;
  top: 0.0001px;
  left: 0.0001px;
  background-color: #191765;
  width: 100%;
  font-size: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform-origin: top;
  animation: showmenu 0.5s ease-in-out forwards;
}

@keyframes showmenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  width: 35.33px;
  height: 22.83px;
  display: flex;
  justify-content: center;
  align-self: end;
  position: relative;
  flex-flow: row wrap;
}

.mobile-icon, .mobile-icon::before, .mobile-icon::after {
  background-color: var(--wc);
  width: 33.33px;
  height: 2px;
  position: absolute;
  transition: all 0.2s;
}

.mobile-icon::before,
.mobile-icon::after {
  content: "";
}

.mobile-icon::before {
  transform: translate(-17px) rotate(135deg);
}

.mobile-icon::after {
  transform: translate(-17px) rotate(-135deg);
}

.mobile-icon {
  background-color: transparent;
}

.mobile-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 100vh;
  z-index: 1;
  margin: 0.0001rem 0.5rem;
}

.hidden {
  display: none;
}

.navlist {
  font-size: 2.5rem;
  margin: 4rem 0.0001rem;
}

.a-nav {
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
  justify-content: space-between;
  color: rgb(255 255 255);
  text-decoration: none;
}

.mobile-nav :is(.navlist:hover, .navlist:focus) {
  transform: scale(0.95);
  transition: all 0.2s;
}

.nav-span {
  color: #7D73FC;
}

/**
*?  Styles for the Headline section.
**/

.main {
  margin: 0.0001px 24px;
  top: 0.001px;
}

.main1 {
  margin: 0.0001px 88px;
  justify-content: center;
}

.headline {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.headline1 {
  display: grid;
  justify-content: center;
  margin-top: 7rem;
}

.my-name, .my-name1 {
  color: #7D73FC;
  font-size: 3rem;
  margin-bottom: 2rem;
  word-break: break-all;
}

.my-field, .my-field1 {
  font-size: 32px;
  text-align: center;
  color: #EDECFF;
  word-break: break-all;
}

.my-name, .my-name1, .bottom, .bottom1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text, .intro-text1 {
  color: #C8C8D4;
  text-align: center;
  font-size: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.intro-text1 {
  max-width: 447px;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.main, .main1, .full-list, .full-list1 {
  display: flex;
  flex-flow: row wrap;
}

.full-list, .full-list1{
  gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li {
  color: #F5F5FF;
  list-style: none;
  font-size: 15px;
}

.list-head {
  color: #9490FF;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.list-i, .list-ii, .list-iii  {
  margin-bottom: 1rem;
}

.low-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.button-div1 {
  align-items: center;
  margin-top: 0.2rem;
  flex-flow: row wrap;
  display: flex;
  gap: 1rem;
}

.a :is(img:visited) {
  color: #000;
  
}

.a :is(img:hover, img:focus) {
  width: 1.6rem;
  height: 1.5rem;
}

.a :is(img:active, img:enabled) {
  width: 1rem;
  height: 1rem;
}

.a :is(img:disabled) {
  display: none;
}

.git-img {
  width: 18px;
  height: 20px;
}

.link-img {
  width: 20px;
  height: 20px;
}

.ang-img {
  width: 14.17px;
  height: 20px;
}

.twit-img {
  width: 19.99px;
  height: 19.96px;
}

.mail-img {
  width: 20px;
  height: 16px;
}

.bottom {
  gap: 12px;
  margin-top: 2rem;
}

.bottom1 {
  gap: 0.5rem;
  flex-flow: row wrap;
}

.arrow {
  width: 18px;
  height: 21.3px;
  color: #c4c4c4;
  align-items: center;
}

.work {
  word-break: break-all;
  font-size: 20px;
  color: #a2a3ae;
}

/**
*?   Styles for the mobile-version work section.
**/

.worksection-box {
  width: 100%;
  display: grid;
  flex-flow: row wrap;
  gap: 2rem;
}

.head {
  color: var(--head);
  font-size: 40px;
  word-break: break-all;
}

hr {
  border: 1px solid #646369;
}

.wideimg {
  width: 100%;
  max-width: 327px;
  height: 236px;
  background: var(--wideimg-bg);
}

.multi-post {
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.story {
  color: #DCDCE8;
  font-size: 20px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.worksection-box, .list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lang {
  font-size: 15px;
  color: #fff;
}

.divider {
  border: solid 1px #555;
}

.button {
  background-color: var(--button-bgc);
  width: 89px;
  height: 48px;
  border: none;
}

.inbutton {
  color: var(--inbutton-c);
  font-size: 14.5px;
  text-align: center;
  text-decoration: none;
}

:is(.button:enabled) {
  background: #7d73fc;
}

.button:hover {
  background: #8781e0;
}

:is(.button:active, .button:visited) {
  background: #5E42D7;
}

:is(.button:disabled) {
  background: black;
}

/**
*?   Styles for the desktop-version work section.
**/

.container {
  display: flex;
  gap: 5.5rem;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  flex-flow: column wrap;
}

.title-section {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.title {
  word-break: break-all;
  color: #9390FF;
  font-size: 64px;
  align-items: flex-start;
}

.project-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 2rem;
}

.project-image {
  width: 100%;
  min-width: 327px;
  max-width: 684px;
  height: 448px;
  background: linear-gradient(0deg, white 0%, white 100%);
}

.project-details {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.project-title {
  color: white;
  font-size: 40px;
}

.project-description {
  color: #DFE1E6;
  font-size: 20px;
}

.mylist {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 12px;
}

/**
*?     The footer section styles.
**/

/**
*?     The mobile-footer section styles.
**/

.contact-form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.contact-us {
  margin: 0.001rem 1.5rem;
  word-break: break-all;
  color: #9390FF;
  font-size: 2rem;
}

.footer-p {
  margin: 0.001rem 1.5rem;
  font-size: 1rem;
  color: #f5f5f5ff;
}

.form {
  justify-content: center;
  flex-flow: row wrap;
  margin: 0.001rem 1.5rem 2rem;
}

.input-i, .name-input {
  line-height: 3rem;
}

.textarea, .input-i, .name-input {
  width: 100%;
  padding-left: 1rem;
}

.textarea {
  padding-top: 1rem;
}

label {
  color: #191765;
}

.button-margin {
  margin-top: 2.5rem;
}

.media {
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.media, .form {
  display: flex;
}

.m-email, .footer-p, .contact-us {
  text-align: center;
}

.m-email {
  padding: 0.0001px 24px;
  margin-top: 0.5rem;
}

.hover {
  word-break: break-all;
  text-align: center;
  text-decoration: none;
  color: #EBEBFF;
  font-size: 20px;
}

.email :is(.hover:link, .hover:visited) {
  color: white;
}

.email :is(.hover:hover, .hover:focus) {
  color: blue;
  text-decoration-line: underline;
}

.email :is(.hover:active, .hover:enabled) {
  color: goldenrod;
  text-decoration-line: underline;
}

.email :is(.hover:disabled) {
  color: red;
}

/**
*?     The desktop-footer section styles.
**/

.contact-section {
  display: grid;
  gap: 4rem;
  margin-top: 3.5rem;
  justify-content: center;
  padding: 0.001px 88px;
}

.d-contact-us {
  color: #9390FF;
  font-size: 2rem;
}

.d-footer-p {
  margin-top: 2rem;
  font-size: 1rem;
  color: #f5f5ff;
}

.d-form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

fieldset {
  width: 100%;
  display: flex;
  border: none;
  justify-content: center;
}

.d-button-margin {
  font-size: 15px;
  margin-top: 2.5rem;
}

.d-footer-p, .d-contact-us {
  text-align: center;
}

.last-box {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 88px;
  margin-right: 88px;
  margin-top: 1rem;
}

.d-media {
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.7rem;
}
